<div class="flex">
  <div class="current">
    <app-img [icon]="icon" class="img"></app-img>
    <div class="wrapper">
      <span class="day" [appBackground]="type">Today</span>
      <p class="temp">{{temp}} °C</p>
    </div>
  </div>
  <div class="forecast">
      <div class="wrapper" *ngFor="let day of weekdays$ | async">
        <span class="day" [appBackground]="type">{{day.day}}</span>
        <app-img [icon]="icon" class="img"></app-img>
        <p class="temp">{{day.temp}} °C</p>
      </div>
  </div>
</div>
